<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-header class="bg-dark"><strong>FAÇA SEU LOGIN</strong></ion-header>
    <ion-input type="email" placeholder="email"> </ion-input>
    <ion-input type="password" placeholder="senha"> </ion-input>

  </ion-card>

  <div>
    <ion-button routerLink="/movies">Logar</ion-button> <br> <br>
    Se ainda não tiver uma conta clique <a routerLink="/register">aqui</a>  para se registrar.
  </div>
</ion-content>