<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Registrar-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-header class="bg-dark"><strong>FAÇA SEU REGISTRO</strong></ion-header>

    <ion-input type="text" placeholder="Nome de Usuario"> </ion-input>

    <ion-input type="email" placeholder="email"> </ion-input>

    <ion-input type="password" placeholder="senha"> </ion-input>

    <ion-input type="password" placeholder="confirme a senha"> </ion-input>

  </ion-card>

  <div>
    <ion-button routerLink="/movies">Registrar</ion-button>
  </div>

</ion-content>