<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/login"><ion-icon name="log-in-outline"></ion-icon> Login</ion-button>
  
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged()"></ion-searchbar>

  <ion-item>
    <ion-label>Filtro de Pesquisa</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged()">
      <ion-select-option value="">Todos</ion-select-option>
      <ion-select-option value="movie">Filmes</ion-select-option>
      <ion-select-option value="series">Séries</ion-select-option>
      <ion-select-option value="game">Jogos</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        {{ item.Year }}
      </ion-label>

      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="game-controller"></ion-icon>

    </ion-item>

  </ion-list>

</ion-content>